In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
iid_dfs = [
    pd.read_csv(
        f"train_iid_cancer_norm_{idx}.csv",
        header=None,
    )
    for idx in range(5)
]
niid_dfs = [
    pd.read_csv(
        f"train_niid_cancer_norm_{idx}.csv",
        header=None,
    )
    for idx in range(5)
]

In [3]:
iid_dfs[0].head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,-0.137838,0.508260,0.106815,0.357052,0.328885,0.095293,0.143214,-0.085243,0.489197,0.031673,...,0.068881,0.667361,-0.183160,0.131969,0.017005,-0.058578,0.725401,0.265089,0.240472,1.0
1,0.405708,0.278426,0.416813,0.081948,0.151228,-0.007953,0.244726,0.457105,0.382689,0.178256,...,0.226100,0.190783,0.063048,0.842576,-0.007088,0.402793,0.483999,0.495499,0.404868,1.0
2,0.276230,0.028722,0.379137,0.495524,0.371363,0.089912,0.374942,0.443545,0.531065,0.088566,...,0.136303,0.253010,0.088699,0.379611,0.164783,0.343306,0.347788,-0.010093,0.321684,1.0
3,0.165057,0.273692,0.381104,0.168985,-0.008548,0.062820,0.032783,0.010859,0.232155,0.139351,...,0.373085,0.133285,0.270713,0.072901,0.290830,0.260173,0.457537,-0.013598,0.044682,1.0
4,0.509563,0.258268,0.619843,0.561077,0.487310,-0.030087,0.023945,0.298553,0.460578,-0.042259,...,0.493913,0.416208,-0.233333,0.270459,0.314600,0.631172,0.329843,0.401055,0.038883,1.0

In [4]:
for idx, iid_df in enumerate(iid_dfs):
    iid_df.rename(columns={30: 'labels'}, inplace=True)
for idx, niid_df in enumerate(niid_dfs):
    niid_df.rename(columns={30: 'labels'}, inplace=True)

In [5]:
from collections import Counter

In [6]:
for idx, iid_df in enumerate(iid_dfs):
    print(f"Dataset {idx}")
    print(Counter(iid_df['labels']))

Dataset 0
Counter({1.0: 296, 0.0: 160})
Dataset 1
Counter({1.0: 279, 0.0: 176})
Dataset 2
Counter({1.0: 283, 0.0: 172})
Dataset 3
Counter({1.0: 284, 0.0: 171})
Dataset 4
Counter({1.0: 294, 0.0: 161})

| Dataset   | 0.0 | 1.0 |
|-----------|-----|-----|
| Dataset 0 | 160 | 296 |
| Dataset 1 | 176 | 279 |
| Dataset 2 | 172 | 283 |
| Dataset 3 | 171 | 284 |
| Dataset 4 | 161 | 294 |

In [7]:
for idx, niid_df in enumerate(niid_dfs):
    print(f"Dataset {idx}")
    print(Counter(niid_df["labels"]))

Dataset 0
Counter({1.0: 456})
Dataset 1
Counter({0.0: 455})
Dataset 2
Counter({0.0: 385, 1.0: 70})
Dataset 3
Counter({1.0: 455})
Dataset 4
Counter({1.0: 455})

| Dataset   | 0.0 | 1.0 |
|-----------|-----|-----|
| Dataset 0 |  -  | 456 |
| Dataset 1 | 455 |  -  |
| Dataset 2 | 385 |  70 |
| Dataset 3 |  -  | 455 |
| Dataset 4 |  -  | 455 |